Source: pg-show-plans
Section: database
Priority: optional
Maintainer: CYBERTEC PostgreSQL <office@cybertec.at>
Uploaders:
 Christoph Berg <myon@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 postgresql-all (>= 217~),
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/cybertec-postgresql/pg_show_plans
Vcs-Browser: https://github.com/cybertec-postgresql/pg_show_plans
Vcs-Git: https://github.com/cybertec-postgresql/pg_show_plans.git

Package: postgresql-16-show-plans
Architecture: any
Depends:
 ${misc:Depends},
 ${postgresql:Depends},
 ${shlibs:Depends},
Description: Show query plans of currently running PostgreSQL statements
 This PostgreSQL extension shows the query plans of all currently running SQL
 statements. Plan output format can be plain text (default), JSON, YAML, or
 XML.
